// https://pugjs.org/language/inheritance.html

//- template.pug
doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Constancia de aplicación
  style(type='text/css')
    include email.css
//- Wrapper for the body of the email
body
  center
    div(style='background-color:#F2F2F2; max-width: 400px; margin: auto;')
      table(width='400' cellspacing='0' cellpadding='0' border='0' style='max-width:400px; width:100%;' bgcolor='#FFFFFF')
        tr
          td(align='center' valign='top' style='padding:0px;')
            img(src=`${logo}` align='center' style="height:64px;padding:12px")
            h1= subject
        //- email body
        block email
