extends base_email.pug
//- email body
block email
  tr
    td(align='center' valign='top' style='padding:0px')
      p Te enviamos este email  porque has olvidado la contraseña.
      a(href!=`${data.link}`) Para cambiar la contraseña click acá.
